---
---
@import "{{ site.theme }}";
#footer_wrap {display: none;}
#forkme_banner {display: none;}
#project_title {text-align: center;}
#project_tagline {text-align: center;}
#header_w {background: linear-gradient(to top, #0492d2, #0486c1);}
